/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.botaoEdicaoListas{
    color: blue;
    cursor: pointer;
}

.botaoExclusaoListas{
    color: red;
    cursor: pointer;
}

.botaoAbreModal{
    background-color: #1ca473;
    color: white;
}
